#box1,
#box2{
  display: block;
  margin-left: 450px;
}

#box1{
  margin-top: 100px;
}

#title{
  position: absolute;
  font-family:  courier;
  font-size: 13px;
  font-weight: bold;
  margin-left: 460px;
  margin-top: -20px;
  opacity: 0.8;
}
.pic{
  height: 110px;
  width: 110px;
  margin: 13px;
  position: relative;
  opacity: 0.8;

}

span{
  position: absolute;
  color: white;
  margin-top: 105px;
  z-index: +1;
  font-family: 'Courier New';
  font-size: 9px;
  font-weight: bold;

}

div{
  position: relative;
}

#texto-1,
#texto-4{
  margin-left: 45px;
}

#texto-2,
#texto-5{
  margin-left: 180px;
}

#texto-3,
#texto-6{
  margin-left: 315px;
}
