#box1,
#box2{
  display: block;
  margin-left: 450px;
}

#box1{
  margin-top: 100px;
}

#title{
  position: absolute;
  font-family:  "courier new";
  font-size: 11px;
  letter-spacing: -0.5px;
  font-weight: bolder;
  margin-left: 460px;
  margin-top: -30px;
  margin-bottom: 80px;
  opacity: 0.8;
  color: #373737;
}
.pic{
  height: 110px;
  width: 110px;
  margin: 13px;
  position: relative;
  opacity: 0.8;

}

span{
  position: absolute;
  color: white;
  margin-top: 105px;
  z-index: +1;
  font-family: 'Courier New';
  font-size: 9.1px;
  font-weight: bolder;
  letter-spacing: -0.3px;

}

div{
  position: relative;
}

#texto-1,
#texto-4{
  margin-left: 45px;
}

#texto-2,
#texto-5{
  margin-left: 180px;
}

#texto-3,
#texto-6{
  margin-left: 315px;
}

#espacio{
  background-color: #373737;
  width: 40px;
  height: 3px;
  margin: -290px 0px 0px 460px;
  position: absolute;
  opacity: 0.8;
}
